{{ define "layout_client" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Primary Meta Tags -->
        <meta content="noindex,nofollow" name="robots">
        <title>{{template "title" .}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
        <link rel="shortcut icon" href="{{ .FavIcon }}">

        <link rel="stylesheet" href="/assets/styles/fgo.css">
        <!--Fontawesome -->
        <link rel="stylesheet" href="/assets/styles/fa5.min.css">
        <!-- Bulma UI Framework -->
        <link rel="stylesheet" href="/assets/styles/bulma/bulma.min.css">
        <!-- CSS only -->
        <link href="/assets/lib/main/style.css" rel="stylesheet">
        {{ block "styles" . }} {{ end }}
        {{ block "scripts" . }} {{ end }}
    </head>
    <body>
    <header>
        {{ template "header" . }}
    </header>
    <section class="pt-4" id="content" style="margin-bottom: 100px">
        {{template "content" . }}
    </section>
    <footer>
        <div class="bg-dark">
            <div class="col-12 text-center text-white p-3">
                <div class="fs-12 copyright">© {{ .CopyrightYear }} • All rights reserved</div>
            </div>
        </div>
    </footer>
    <script src="/assets/lib/main/script.js"></script>
    {{ block "body_scripts" . }} {{ end }}
    </body>
    </html>
{{ end }}