{{define "layout_member"}}
    <!DOCTYPE html>
    <html lang="en" class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <!-- Primary Meta Tags -->
        <meta content="noindex,nofollow" name="robots">
        <title>{{template "title" .}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
        <link rel="shortcut icon" href="{{ .FavIcon }}">

        <!-- CSS only -->
        <link rel="stylesheet" href="/assets/styles/fgo.css">
        <link rel="stylesheet" href="/assets/styles/fa5.min.css">
        <link href="/assets/styles/bulma/bulma.min.css" rel="stylesheet">
        <link href="/assets/lib/main/style.css" rel="stylesheet">

        {{ block "styles" . }} {{ end }}
        {{ block "scripts" . }} {{ end }}
    </head>
    <body>
    <header>
        <nav class="navbar is-white has-shadow is-fixed-top" role="navigation" aria-label="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/mbr">
                    <img src="/assets/images/onelabs-logo@2x.png" alt="Onelabs" style="max-height: 2.5rem;">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-end">
                {{ block "sign-in" . }}
                <div class="navbar-item has-dropdown is-hoverable">
                    {{ if .user }}
                    <a class="navbar-link"><i class="fas fa-user-circle"></i>&nbsp;<span class="is-text">
                        {{ if .user.DisplayName }}
                            {{ .user.DisplayName }}
                        {{ else }}
                            {{ .user.Username }}
                        {{ end }}
                    </span></a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item btn btn-primary-light" href="/mbr/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;<span class="is-text">Logout</span></a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </nav>
    </header>
    <section class="pt-6" id="content" style="margin-bottom: 2em;">
        {{template "content" .}}
    </section>
    <footer>
        <div class="bg-dark">
            <div class="col-12 text-white p-3">
                <div class="fs-12 copyright">© {{ .CopyrightYear }} • All rights reserved</div>
            </div>
        </div>
    </footer>
    <script src="/assets/lib/main/script.js"></script>
    {{ block "body_scripts" . }} {{ end }}
    </body>
    </html>
{{end}}