{{ template "layout_member" . }}
{{ define "title" }} {{ .PageTitle }} {{ end }}
{{ define "styles" }}
<link href="/assets/lib/crp/style.css" rel="stylesheet">
{{ end }}
{{ define "scripts" }}
<script type="text/javascript">
    const RedirectUrl = '{{ .RedirectUrl }}';
</script>
{{ end }}
{{ define "body_scripts" }}
<script src="/assets/lib/crp/script.js" type="text/javascript"></script>
{{ end }}
{{ define "sign-in" }}
<div class="navbar-item is-hoverable">
    <a class="navbar-link is-arrowless" href="/"><i class="fas fa-user-secret"></i>&nbsp;<span class="is-text">Please Sign-In!</span></a>
</div>
{{ end }}
{{ define "content" }}
<div class="columns" style="min-height: 550px;">
    <div class="column"></div>
    <div class="column is-narrow">
        <div class="panel is-primary">
            <div class="panel-heading">
                <h3>Create Your Password</h3>
            </div>
            <div class="panel-block">
                <form id="crpForm" name="crpForm" method="post" style="width: 100%">
                    <div class="field mt-2">
                        <label class="label">Password</label>
                        <div class="control is-expanded has-icons-left">
                            <input name="pass" class="input form-input" type="password"
                                   placeholder="Input your new password here...">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </div>
                    </div>
                    <span class="err-pass tag is-danger is-hidden"></span>
                    <div class="field mt-2">
                        <label class="label">Confirmation</label>
                        <div class="control is-expanded has-icons-left">
                            <input name="confirm" class="input form-input" type="password"
                                   placeholder="Input confirmation password here...">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </div>
                    </div>
                    <span class="err-confirm tag is-danger is-hidden"></span>
                    <input type="hidden" name="hash" class="input form-input" value="{{ .Hash }}">
                    <div class="field is-grouped is-grouped-right">
                        <input name="csrf" class="form-input" type="hidden" value="{{ .Csrf }}">
                        <div class="control">
                            <button name="submit_button" id="submitPassword" type="submit" class="button is-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>
{{ end }}